@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*общие характеристики*/
body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
.color-white {
    color:#ffffff;
}
.color-gradient {
    background: linear-gradient(86.98deg, #B166FF -0.77%, #DA33F7 21.33%, #FE67C7 47.57%, #FF3672 72.98%, #FFBF59 104.87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/*хедер*/
.header {
    background: linear-gradient(92.27deg, #6D19A8 8.99%, #9F24AA 41.04%, #D93F94 64.08%, #F64073 88.61%, #F66B63 98.86%);
    border-bottom: 1px solid rgba(60, 60, 67, 0.36);
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    height: 56px;
    justify-content: space-between;
    align-items: center;
}
.header-item {
    display: flex;
    width: 10%;
    margin-left: 2%;
}
.header-item__logo {
    width: clamp(42px, 7cqw, 97px);
    height: auto;
    margin: 0 auto;
    z-index: 1;
}
.header-menu {
    display: inline-flex;
    width: 90%;
    justify-content: space-around;
}
.header-menu__link {
    text-decoration: none;
    font-weight: 400;
    font-size: clamp(15px,2cqw,20px);
    padding: 5px 5px;
}
.header-button {
    display: inline-block;
    background: none;
    cursor: pointer;
    border: none;
    width: 36px;
    height: 36px;
    margin-right: 15px;
    padding: 0;
}
.header-button__img-1 {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
}
.header-button__img-2 {
    display: block;
    width: 32px;
    height: 4px;
} 
.header-button__img-3 {
    display: block;
    width: 32px;
    height: 4px;
    margin-top: 5px;
}
/*стильи main*/
.main {
    padding: 0;
    margin: 0;
}
/*секция лицо*/
.section-face {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;
    padding: 5%;
    background-image: url(img/Logo-backgrnd.svg), url(img/Titul.svg); 
    background-position: center, 70% 100%;
}
.section-face__title {
    font-weight: 700;
    font-size: clamp(48px, 7cqw, 68px);
    margin-top: -5px;
}
.section-face__subtitle {
    font-weight: 400;
    font-size: clamp(20px, 3cqw, 32px);
    width: 100%;
    margin-top: -10px;
    padding-bottom: 15px;
}
.button-form {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    padding: 16px 35px;
    background: linear-gradient(92.27deg, #6D19A8 8.99%, #9F24AA 41.04%, #D93F94 64.08%, #F64073 88.61%, #F66B63 98.86%);
    border-radius: 4px;
    margin: 0 35px 0 0;
}
.button {
    background-position: center;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
}
.telegram {
    background-image: url(img/Telegram.svg);
}
.whatsapp {
    background-image: url(img/Whats.svg);
    margin: 0 25px;
}
/*секция инструкция*/
.section-insrtuction {
    padding: 5%;
}
.section-insrtuction__title {
    text-align: center;
    font-weight: 700;
    font-size: clamp(32px, 5cqw, 48px);
}
.section-insrtuction__subtitle {
    text-align: center;
    font-weight: 400;
    font-size: clamp(18px, 2.5cqw, 32px);
    margin-top: -10px;
    padding: 0 5px;
}
.section-insrtuction__block {
    display: flex;
    align-items: flex-start;
}
.item-instruction {
    width: 25%;
    text-align: center;
}
.item-instruction__icon {
    width: clamp(103px, 16cqw, 160px);
    height: auto;
    margin-left: -5%;
   
}
.item-instruction__text {
    font-weight: 600;
    font-size: clamp(12px, 1.5cqw, 20px);
    padding: 0 15px 20px 15px;
}
.list {
    list-style-image: url(img/disc.svg);
    list-style-position: inside;
}
.list__text {
    font-weight: 400;
    font-size: clamp(12px, 2cqw, 20px);
    line-height: 140%;
    padding: 5px 0;
}
.section-statistic {
    background: linear-gradient(92.27deg, #6D19A8 8.99%, #9F24AA 41.04%, #D93F94 64.08%, #F64073 88.61%, #F66B63 98.86%);
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
    align-items: center;
    gap: 4%;
}
.item-statistic {
    text-align: center;
}
.item-statistic__data {
    font-weight: 700;
    font-size: clamp(36px, 5cqw, 48px);
    margin-bottom: 0;

}
.item-statistic__text {
    font-weight: 500;
    font-size: clamp(14px, 2cqw, 18px);
    margin-top: 0;
    padding-bottom: 20px;
}



/*футер !надо встроить в последний блок, что бы фон последнего блока был за футером,
фону футера придать прозрачность 0,25*/
.footer {
    display: flex;
    height: 60px;
    background: linear-gradient(85.52deg, #5519B7 -9.09%, #A220B9 28.01%, #DB44A4 47.64%, #FF3672 73.85%, #EEAF4B 114.52%);
    opacity: ;
}
.footer__text {
    text-align: center;
    padding: 0 28px;
    margin: auto;
    font-style: normal;
    font-weight: 300;
    font-size: clamp(12px, 2cqw, 16px);
}



/* медиазапросы и команды */

@media screen and (max-width: 720px) {
    .header-menu__link {
      display: none;
    }
    .button-form {
        display: flexbox;
        order: 1;
        width: 100%;
        text-align: center;
        margin: 80px auto 0 auto;
    }
    .section-insrtuction__block {
        flex-direction: column;
        align-items: center;
    }
    .item-instruction {
        width: 80%;
    }
    .item-instruction__icon {
        width: 160px;
    }
    .item-instruction__text {
        font-size: 20px;
        margin-top: 0;
    }
    .mobile-none {
        display: none;
    }
    .section-statistic {
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 720px) {
    .header-button {
        display: none;
     }
    
}
@media screen and (min-width: 900px) {
    .header-item__logo {
        margin-top: 45px;
        
     }
}